<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <style>
        a.Create {
            color: #fff;
            user-select: none; /* Убираем текстовое выделение */
            text-decoration: none; /* Убираем подчеркивание */
            outline: none; /* Убираем контур вокруг ссылки */
            background-color: #fa8e47; /* Цвет фона */
            padding: 1em 2em; /* Отступ от текста до рамки */
        }

            a.Create:active {
                background-color: #ee6206; /* Цвет кнопки при нажатии */
            }

            a.Create:hover {
                background-color: #f97f2e; /* Цвет кнопки при наведении курсора */
            }
    </style>
    <style>  
    h3 {
    font-family: 'Times New Roman', Times, serif; /* Шрифт с засечками */
    font-style: italic; /* Курсивное начертание */
       }
    </style>
</head>
<body>
    <!--меню-->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="~/Home/index" class="navbar-brand">Главная</a></li>
                    <li><a href="~/Dog/index" class="table-condensed">Собакены</a></li>
                </ul>
            </div>
        </div>
    </nav>
   

    <!--основной контент-->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>© 2020 - CatStore</p>
        </footer>
    </div>
</body>
</html>